name: Terraform Validation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  terraform:
    name: Terraform Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev, stage, prod]

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Init
        run: terraform init
        working-directory: environments/${{ matrix.env }}

      - name: Format
        run: terraform fmt -check
        working-directory: environments/${{ matrix.env }}

      - name: Validate
        run: terraform validate
        working-directory: environments/${{ matrix.env }}

      - name: Plan
        run: terraform plan
        working-directory: environments/${{ matrix.env }}
